<ng-template #userEditModal let-close="close">
  <div class="modal-header">
    <h4 class="modal-title">
    	<span *ngIf="modalData.mode==='techManager'">Manage Technicians</span>
    	<span *ngIf="modalData.mode==='taskManager'">Manage User Tasks</span>
    </h4>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
  	<div class="container">
	  	
	  	<div class="row">
				<div class="col-4">
					<h5 *ngIf="modalData.mode==='taskManager'">Assigned Tasks</h5>
					<h5 *ngIf="modalData.mode==='techManager'">Technicians Shown</h5>
				</div>

				<div class="col-2 iconDiv text-secondary noselect">
					<span [ngClass]="{'text-success': modalData.userIndex > 0}"
						(click)="moveItemUp(modalData.userIndex)">&#11014;</span>
						&nbsp; &nbsp;
					<span [ngClass]="{ 'text-success': modalData.userIndex > -1
							&& modalData.userIndex < modalData.userList.length-1 }"
						(click)="moveItemDown(modalData.userIndex)">&#11015;</span>
						&nbsp; &nbsp;
				</div>

				<div class="col-6">
					<h5 *ngIf="modalData.mode==='taskManager'">Unassigned Tasks</h5>
					<h5 *ngIf="modalData.mode==='techManager'">Technicians Hidden</h5>
				</div>

				<div class="col-6">
					<div class="scrollDivOuter">
						<div class="scrollDivInner">
							<ul>
								<ng-container *ngFor="let userItem of modalData.userList; index as i">
									<li (click)="selectItem(i)" class="row no-gutters noselect"
										[ngClass]="{'selectedRow': modalData.userIndex===i}">
										<div class="col">
											&nbsp;{{userItem}}
										</div>
										<div class="col text-primary iconDiv text-right">
											<span (click)="unassignItem(i)">&#8658; &nbsp;</span>
										</div>
									</li>
								</ng-container>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-6">
					<div class="scrollDivOuter">
						<div class="scrollDivInner">
							<ul>
								<ng-container *ngFor="let item of modalData.itemList; index as i">
									<li *ngIf="getUserIndex(item.name) < 0" class="row no-gutters noselect hoverBackground">
										<div class="col text-primary iconDiv">
											<span (click)="assignItem(i)">&nbsp; &#8656;</span>
										</div>
										<div class="col text-right">
											{{item.name}}&nbsp;
										</div>
									</li>
								</ng-container>
							</ul>
						</div>
					</div>
				</div>

			</div>
  	</div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary"
    	(click)="confirmModal(); close()">
      Confirm
    </button>
		<button class="btn btn-secondary"
			(click)="close()">
      Cancel
    </button>
  </div>
</ng-template>

<div class="container">
	<div class="row">
		<div class="col">
			<h3>Add User</h3>
		</div>
	</div>

	<div class="row no-gutters">
		<div class="col-3">
			<h5>Username:</h5>
		</div>
		<div class="col-9">
			<input class="w-100" type="text" [(ngModel)]="currentUser.username">
		</div>
	</div>
	<div class="row no-gutters">
		<div class="col-3">
			<h5>Password:</h5>
		</div>
		<div class="col-9">
			<input class="w-100" type="text" [(ngModel)]="currentUser.password">
		</div>
	</div>
	<div class="row no-gutters">
		<div class="col-3">
			<h5>Role:</h5>
		</div>
		<div class="col-9">
			<select class="w-100 h-100" [(ngModel)]="currentUser.role">
			  <option *ngFor="let role of roles">
			    {{role}}
			  </option>
			</select>
		</div>
	</div>

	<div class="row">

		<div class="col-6">
			<h4>Technicians Shown:</h4>
		</div>

		<div class="col-6">
			<h4>Assigned Tasks:</h4>
		</div>

		<div class="col-6">
			<div class="scrollDivOuter techListDiv">
				<div class="scrollDivInner">
					
					<ul>
						<ng-container *ngFor="let userTech of currentUser.techList; index as i">
							<li *ngIf="userTech" class="row no-gutters hoverBackground"
								(click)="toggleModal('techManager', i)">
								&nbsp;<span>{{userTech}}</span>
							</li>
						</ng-container>
						<li (click)="toggleModal('techManager', 0)">
							&nbsp;<strong class="text-primary">+ TECHNICIAN</strong>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="col-6">
			<div class="scrollDivOuter taskListDiv">
				<div class="scrollDivInner">
					<ul>
						<ng-container *ngFor="let userTask of currentUser.taskList; index as i">
							<li *ngIf="userTask" class="row no-gutters hoverBackground"
								(click)="toggleModal('taskManager', i)">
								&nbsp;<span>{{userTask}}</span>
							</li>
						</ng-container>
						<li (click)="toggleModal('taskManager', 0)">
							&nbsp;<strong class="text-primary">+ TASK</strong>
						</li>
					</ul>
				</div>
			</div>
		</div>

	</div>

	<div class="row">
		<div class="col-2">
			<button class="btn btn-primary w-100" (click)="addUser()">Save</button>
		</div>
		<div class="col-2">
			<button class="btn btn-secondary w-100" (click)="goBack()">Cancel</button>
		</div>
	</div>
	
</div>