<div class="modal-header">
  <h4 class="modal-title">
  	<span *ngIf="modalData.mode==='timePunch'">
  		Enter Hours for {{modalData.date.format('MMMM D, YYYY')}}
  	</span>
  	<span *ngIf="modalData.mode==='vacationPunch'">
  		Enter Vacation Hours for {{timeSheetMathService.readDateRange(modalData.dateRange)}}
  	</span>
  	<span *ngIf="modalData.mode==='uploadCSV'">
  		Upload CSV
  	</span>
  </h4>

  <button type="button" class="close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body container-fluid">
	<div class="row" *ngIf="modalData.mode==='timePunch'">
		<div class="col-3">
  		Clock In
			<ngb-timepicker [(ngModel)]="modalData.timePunch[0]" (ngModelChange)="timeChange()" [minuteStep]=15></ngb-timepicker>
    </div>
		<div class="col-3">
  		Clock Out
  		<ngb-timepicker [(ngModel)]="modalData.timePunch[1]" (ngModelChange)="timeChange()" [minuteStep]=15></ngb-timepicker>
    </div>
    <div class="col-3">
  		Break
  		<ngb-timepicker [(ngModel)]="modalData.timePunch[2]" (ngModelChange)="timeChange()" [minuteStep]=15></ngb-timepicker>
    </div>
    <div class="col-3">
    	Total
   		<ngb-timepicker [(ngModel)]="modalData.timePunch[3]" (ngModelChange)="totalChange()" [minuteStep]=15></ngb-timepicker>
    </div>
    <div class="col-12">
    	Miscellaneous
   		<input class="form-control" [(ngModel)]="modalData.timePunch[4]"/>
    </div>

    <div class="col-12" *ngIf="modalData.timePunch.length > 5">
    	<br/>

    	<strong>ChangeLog</strong>

    	<hr style="margin: 0;">

			<br/>

    	<div class="row no-gutters topRow">
	      <div class="col-3">
      		Date Entered
	      </div>
      	<div class="col-2 text-right">
      		User&nbsp;
	      </div>
      	<div class="col-1 text-right">
      		In&nbsp;
	      </div>
	      <div class="col-1 text-right">
      		Out&nbsp;
	      </div>
	      <div class="col-1 text-right">
      		Break&nbsp;
	      </div>
	      <div class="col-1 text-right">
      		Total&nbsp;
	      </div>
	      <div class="col-3 text-right">
      		Misc&nbsp;
	      </div>
      </div>
      <ng-container>
	      <div class="row no-gutters tableRow">
		      <div class="col-3">
	      		{{modalData.timePunchCopy['6']}}
		      </div>
		      <div class="col-2 text-right">
	      		{{modalData.timePunchCopy['5']}}&nbsp;
		      </div>
	      	<div class="col-1 text-right">
	      		{{timeSheetMathService.displayTime(modalData.timePunchCopy['0'])}}&nbsp;
		      </div>
		      <div class="col-1 text-right">
	      		{{timeSheetMathService.displayTime(modalData.timePunchCopy['1'])}}&nbsp;
		      </div>
		      <div class="col-1 text-right">
	      		{{timeSheetMathService.displayTime(modalData.timePunchCopy['2'])}}&nbsp;
		      </div>
		      <div class="col-1 text-right">
		      	{{timeSheetMathService.displayTime(modalData.timePunchCopy['3'])}}&nbsp;
		      </div>
		      <div class="col-3 text-right">
	      		{{modalData.timePunchCopy['4']}}&nbsp;
		      </div>
	      </div>
      </ng-container>
      <ng-container *ngFor="let punch of modalData.timePunch; index as i">
	      <div *ngIf="i > 6" class="row no-gutters tableRow">
		      <div class="col-3">
	      		{{punch[6]}}
		      </div>
		      <div class="col-2 text-right">
	      		{{punch[5]}}&nbsp;
		      </div>
	      	<div class="col-1 text-right">
	      		{{timeSheetMathService.displayTime(punch[0])}}&nbsp;
		      </div>
		      <div class="col-1 text-right">
	      		{{timeSheetMathService.displayTime(punch[1])}}&nbsp;
		      </div>
		      <div class="col-1 text-right">
	      		{{timeSheetMathService.displayTime(punch[2])}}&nbsp;
		      </div>
		      <div class="col-1 text-right">
	      		{{timeSheetMathService.displayTime(punch[3])}}&nbsp;
		      </div>
		      <div class="col-3 text-right">
	      		{{punch[4]}}&nbsp;
		      </div>
	      </div>
      </ng-container>
  	</div>
	</div>

	<div class="row no-gutters" *ngIf="modalData.mode==='vacationPunch'">
		<div class="col-12 text-center">
			<ngb-timepicker [(ngModel)]="modalData.vacationPunch[0]" [minuteStep]=15 style="display: inline-block;"></ngb-timepicker>
    </div>

    <div class="col-12" *ngIf="modalData.vacationPunch.length > 2">
    	
    	<br/>

      <strong>ChangeLog</strong>

    	<hr style="margin: 0;">

    	<br/>

    	<div class="row no-gutters topRow">
	      <div class="col-5">
      		Date Entered
	      </div>
      	<div class="col-4 text-right">
      		User
	      </div>
      	<div class="col-3 text-right">
      		Time
	      </div>
      </div>
      <ng-container>
	      <div class="row no-gutters tableRow">
		      <div class="col-5">
	      		{{modalData.vacationPunchCopy[2]}}
		      </div>
		      <div class="col-4 text-right">
	      		{{modalData.vacationPunchCopy[1]}}
		      </div>
	      	<div class="col-3 text-right">
	      		{{timeSheetMathService.displayTime(modalData.vacationPunchCopy[0])}}
		      </div>
	      </div>
      </ng-container>
      <ng-container *ngFor="let punch of vacationPunch; index as i">
	      <div *ngIf="i > 2" class="row no-gutters tableRow">
		      <div class="col-5">
	      		{{punch[2]}}
		      </div>
		      <div class="col-4 text-right">
	      		{{punch[1]}}
		      </div>
	      	<div class="col-3 text-right">
	      		{{timeSheetMathService.displayTime(punch[0])}}
		      </div>
	      </div>
      </ng-container>
    
  	</div>
	</div>

	<div class="row" *ngIf="modalData.mode==='uploadCSV'">
		<div class="col">
			<textarea class="w-100" [(ngModel)]="timeCardCsv"
				style="height: 15em;"></textarea>
		</div>
	</div>

</div>

<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="deletePunch(); closeModal();">
    Delete
  </button>
  <button type="button" class="btn btn-success" (click)="confirmPunch(); closeModal();">
    Confirm
  </button>
  <button type="button" class="btn btn-outline-secondary" (click)="closeModal()">
    Cancel
  </button>
</div>