<div class="container" *ngIf="currentArticle">
	<br/>
	<div class="row no-gutters">
		<div class="col-3 col-sm-2">
			<h5>Title:</h5>
		</div>
		<div class="col-9 col-sm-4">
			<input class="form-control" type="text" [(ngModel)]="currentArticle.title">
		</div>
		<div class="col-3 col-sm-2">
			<h5>Author:</h5>
		</div>
		<div class="col-9 col-sm-4">
			<input class="form-control" type="text" [(ngModel)]="currentArticle.author">
		</div>
	</div>
	
	<div class="row no-gutters">
		<div class="col">
			<quill-editor class="editor"
				[modules]="editorModules"
				[style]="{height: '500px'}"
				(onEditorCreated)="onEditorCreated($event)"
				(onContentChanged)="onContentChanged($event)"
				[(ngModel)]="currentArticle.content">
			</quill-editor>
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="col-3 col-sm-2">
			<button class="btn btn-success w-100" (click)="saveArticle()">Save</button>
		</div>
		<div class="col-3 col-sm-2">
			<button class="btn btn-secondary w-100" (click)="goBack()">Cancel</button>
		</div>
		<div class="col-3 col-sm-6"></div>
		<div class="col-3 col-sm-2">
			<button class="btn btn-danger w-100" (click)="deleteArticle()">Delete</button>
		</div>
	</div>
</div>

<div *ngIf="!currentArticle" align="center">
	<img class="pl-3 loadingIcon" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
</div>