<div class="container">
	<div class="row">
		<div class="col">
			<h1>Guesstimator</h1>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<input type="text" placeholder="Search for Location" autocorrect="off" autocapitalize="off" spellcheck="off" class="form-control" #search id="search-input">
		</div>
	</div>

	<div class="row" *ngIf="placeData">
		<div class="col">
			<h3>{{placeData.formatted_address}}</h3>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<h4>Home Size</h4>
		</div>
	</div>

	<div class="row no-gutters">
		<div class="col-3">
			Current
		</div>
		<div class="col-3">
			<span class="d-none d-sm-inline">Average </span>Min:
		</div>
		<div class="col-3">
			<span class="d-none d-sm-inline">Average </span>Max:
		</div>
		<div class="col-3">
			+$10<span class="d-none d-sm-inline"> per</span>:
		</div>
	</div>

	<div class="row no-gutters">
		<div class="col-3">
			<input *ngIf="zillowData" class="form-control" type="number" step="50" min="0" max="100000" [(ngModel)]="zillowData.finishedSqFt">
			<input *ngIf="!zillowData" class="form-control" type="number" step="50" min="0" max="100000" [(ngModel)]="CURRENT_HOME_SIZE">
		</div>
		<div class="col-3">
			<input class="form-control" type="number" step="50" min="0" max={{AVERAGE_HOME_MAX}} [(ngModel)]="AVERAGE_HOME_MIN">
		</div>
		<div class="col-3">
			<input class="form-control" type="number" step="50" min={{AVERAGE_HOME_MIN}} max="100000" [(ngModel)]="AVERAGE_HOME_MAX">
		</div>
		<div class="col-3">
			<input class="form-control" type="number" step="50" min="0" max="2000" [(ngModel)]="HOME_SQFT_INCREMENT">
		</div>
	</div>

	<div class="row">
		<div class="col">
			<h4>Lot Size</h4>
		</div>
	</div>

	<div class="row no-gutters">
		<div class="col-3">
			Current
		</div>
		<div class="col-3">
			<span class="d-none d-sm-inline">Average </span>Min:
		</div>
		<div class="col-3">
			<span class="d-none d-sm-inline">Average </span>Max:
		</div>
		<div class="col-3">
			+$10<span class="d-none d-sm-inline"> per</span>:
		</div>
	</div>

	<div class="row no-gutters">
		<div class="col-3">
			<input *ngIf="zillowData" class="form-control" type="number" step="100" min="0" max="1000000" [(ngModel)]="zillowData.lotSizeSqFt">
			<input *ngIf="!zillowData" class="form-control" type="number" step="100" min="0" max="1000000" [(ngModel)]="CURRENT_LOT_SIZE">
		</div>
		<div class="col-3">
			<input class="form-control" type="number" step="100" min="0" max={{AVERAGE_LOT_MAX}} [(ngModel)]="AVERAGE_LOT_MIN">
		</div>
		<div class="col-3">
			<input class="form-control" type="number" step="100" min={{AVERAGE_LOT_MIN}} max="1000000" [(ngModel)]="AVERAGE_LOT_MAX">
		</div>
		<div class="col-3">
			<input class="form-control" type="number" step="100" min="0" max="1000000" [(ngModel)]="LOT_SQFT_INCREMENT">
		</div>
	</div>

	<div class="row">
		<div class="col">
			<h4>Estimated Pricing</h4>
		</div>
	</div>

	<div class="row no-gutters">
		<div class="col-3">
			<strong>Service</strong>
		</div>
		<div class="col-2">
			<strong>Base</strong>
		</div>
		<div class="col-3">
			<strong>Multiplier</strong>
		</div>
		<div class="col-4" align="right">
			<strong>Price</strong>
		</div>
	</div>

	<div class="row no-gutters">
		<div class="col-3">
			One-time:
		</div>
		<div class="col-1">
			100
		</div>
		<div class="col-1">
			&#xd7;
		</div>
		<div class="col-3">
			<input class="form-control" type="number" step="0.05" min={{INITIAL}} max="2" [(ngModel)]="ONETIME">
		</div>
		<div class="col-1" align="right">
			=
		</div>
		<div class="col-3" align="right">
			${{getOneTime()}}.00
		</div>
	</div>

	<div class="row no-gutters">
		<div class="col-3">
			Initial:
		</div>
		<div class="col-1">
			100
		</div>
		<div class="col-1">
			&#xd7;
		</div>
		<div class="col-3">
			<input class="form-control" type="number" step="0.05" min={{QUARTERLY}} max="2" [(ngModel)]="INITIAL">
		</div>
		<div class="col-1" align="right">
			=
		</div>
		<div class="col-3" align="right">
			${{getInitial()}}.00
		</div>
	</div>

	<div class="row no-gutters">
		<div class="col-3">
			Monthly:
		</div>
		<div class="col-1">
			100
		</div>
		<div class="col-1">
			&#xd7;
		</div>
		<div class="col-3">
			<input class="form-control" type="number" step="0.05" min="0" max={{BIMONTHLY}} [(ngModel)]="MONTHLY">
		</div>
		<div class="col-1" align="right">
			=
		</div>
		<div class="col-3" align="right">
			${{getMonthly()}}.00
		</div>
	</div>

	<div class="row no-gutters">
		<div class="col-3">
			Bimonthly:
		</div>
		<div class="col-1">
			100
		</div>
		<div class="col-1">
			&#xd7;
		</div>
		<div class="col-3">
			<input class="form-control" type="number" step="0.05" min={{MONTHLY}} max={{QUARTERLY}} [(ngModel)]="BIMONTHLY">
		</div>
		<div class="col-1" align="right">
			=
		</div>
		<div class="col-3" align="right">
			${{getBimonthly()}}.00
		</div>
	</div>

	<div class="row no-gutters">
		<div class="col-3">
			Quarterly:
		</div>
		<div class="col-1">
			100
		</div>
		<div class="col-1">
			&#xd7;
		</div>
		<div class="col-3">
			<input class="form-control" type="number" step="0.05" min={{BIMONTHLY}} max={{INITIAL}} [(ngModel)]="QUARTERLY">
		</div>
		<div class="col-1" align="right">
			=
		</div>
		<div class="col-3" align="right">
			${{getQuarterly()}}.00
		</div>
	</div>

</div>