<ng-template #timeCardModal let-close="close">
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="modalData.mode==='timePunch'">
    	Enter Hours for {{currentDate.format('MMMM D, YYYY')}}
    </h4>
    <h5 class="modal-title" *ngIf="modalData.mode==='vacation'">
    	Enter Vacation Hours for {{timeCardService.readDateRange(modalData.dateRange)}}
    </h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body container-fluid">
  	<div class="row" *ngIf="modalData.mode==='timePunch'">
  		<div class="col-3">
    		Clock In
  			<ngb-timepicker [(ngModel)]="timePunch[0]" (ngModelChange)="timeChange()" [minuteStep]=15></ngb-timepicker>
      </div>
  		<div class="col-3">
    		Clock Out
    		<ngb-timepicker [(ngModel)]="timePunch[1]" (ngModelChange)="timeChange()" [minuteStep]=15></ngb-timepicker>
      </div>
      <div class="col-3">
    		Break
    		<ngb-timepicker [(ngModel)]="timePunch[2]" (ngModelChange)="timeChange()" [minuteStep]=15></ngb-timepicker>
      </div>
      <div class="col-3">
	    	Total
	   		<ngb-timepicker [(ngModel)]="timePunch[3]" (ngModelChange)="totalChange()" [minuteStep]=15></ngb-timepicker>
      </div>
      <div class="col-12">
	    	Miscellaneous
	   		<input class="form-control" [(ngModel)]="timePunch[4]"/>
      </div>

      <div class="col-12" *ngIf="timePunch.length > 5">
      	<br/>

      	<strong>ChangeLog</strong>

      	<hr style="margin: 0;">

				<br/>

      	<div class="row no-gutters topRow">
		      <div class="col-3">
	      		Date Entered
		      </div>
	      	<div class="col-2 text-right">
	      		User&nbsp;
		      </div>
	      	<div class="col-1 text-right">
	      		In&nbsp;
		      </div>
		      <div class="col-1 text-right">
	      		Out&nbsp;
		      </div>
		      <div class="col-1 text-right">
	      		Break&nbsp;
		      </div>
		      <div class="col-1 text-right">
	      		Total&nbsp;
		      </div>
		      <div class="col-3 text-right">
	      		Misc&nbsp;
		      </div>
	      </div>
	      <ng-container>
		      <div class="row no-gutters tableRow">
			      <div class="col-3">
		      		{{timePunchCopy[6]}}
			      </div>
			      <div class="col-2 text-right">
		      		{{timePunchCopy[5]}}&nbsp;
			      </div>
		      	<div class="col-1 text-right">
		      		{{timeCardService.displayTime(timePunchCopy[0])}}&nbsp;
			      </div>
			      <div class="col-1 text-right">
		      		{{timeCardService.displayTime(timePunchCopy[1])}}&nbsp;
			      </div>
			      <div class="col-1 text-right">
		      		{{timeCardService.displayTime(timePunchCopy[2])}}&nbsp;
			      </div>
			      <div class="col-1 text-right">
			      	{{timeCardService.displayTime(timePunchCopy[3])}}&nbsp;
			      </div>
			      <div class="col-3 text-right">
		      		{{timePunchCopy[4]}}&nbsp;
			      </div>
		      </div>
	      </ng-container>
	      <ng-container *ngFor="let punch of timePunch; index as i">
		      <div *ngIf="i > 6" class="row no-gutters tableRow">
			      <div class="col-3">
		      		{{punch[6]}}
			      </div>
			      <div class="col-2 text-right">
		      		{{punch[5]}}&nbsp;
			      </div>
		      	<div class="col-1 text-right">
		      		{{timeCardService.displayTime(punch[0])}}&nbsp;
			      </div>
			      <div class="col-1 text-right">
		      		{{timeCardService.displayTime(punch[1])}}&nbsp;
			      </div>
			      <div class="col-1 text-right">
		      		{{timeCardService.displayTime(punch[2])}}&nbsp;
			      </div>
			      <div class="col-1 text-right">
		      		{{timeCardService.displayTime(punch[3])}}&nbsp;
			      </div>
			      <div class="col-3 text-right">
		      		{{punch[4]}}&nbsp;
			      </div>
		      </div>
	      </ng-container>
	  	</div>
  	</div>

  	<div class="row no-gutters" *ngIf="modalData.mode==='vacation'">
  		<div class="col-12 text-center">
  			<ngb-timepicker [(ngModel)]="vacationPunch[0]" [minuteStep]=15 style="display: inline-block;"></ngb-timepicker>
      </div>

      <div class="col-12" *ngIf="vacationPunch.length > 2">
      	
      	<br/>

	      <strong>ChangeLog</strong>

      	<hr style="margin: 0;">

      	<br/>

      	<div class="row no-gutters topRow">
		      <div class="col-5">
	      		Date Entered
		      </div>
	      	<div class="col-4 text-right">
	      		User
		      </div>
	      	<div class="col-3 text-right">
	      		Time
		      </div>
	      </div>
	      <ng-container>
		      <div class="row no-gutters tableRow">
			      <div class="col-5">
		      		{{vacationPunchCopy[2]}}
			      </div>
			      <div class="col-4 text-right">
		      		{{vacationPunchCopy[1]}}
			      </div>
		      	<div class="col-3 text-right">
		      		{{timeCardService.displayTime(vacationPunchCopy[0])}}
			      </div>
		      </div>
	      </ng-container>
	      <ng-container *ngFor="let punch of vacationPunch; index as i">
		      <div *ngIf="i > 2" class="row no-gutters tableRow">
			      <div class="col-5">
		      		{{punch[2]}}
			      </div>
			      <div class="col-4 text-right">
		      		{{punch[1]}}
			      </div>
		      	<div class="col-3 text-right">
		      		{{timeCardService.displayTime(punch[0])}}
			      </div>
		      </div>
	      </ng-container>
	    
	  	</div>
  	</div>

  </div>

  <div class="modal-footer">
    <button *ngIf="currentUser.timeCard[currentDate.format('YYMMDD')]" type="button" class="btn btn-danger" (click)="deletePunch(); close();">
      Delete
    </button>
    <button type="button" class="btn btn-success" (click)="confirmPunch(); close();">
      Confirm
    </button>
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      Cancel
    </button>
  </div>
</ng-template>


<div class="container">

	<div class="row">
		<div class="col-5">
			<h1>Time Card</h1>
		</div>
		<ng-container *ngIf="currentUser && currentUser?.preferences['timeCard']">
			<div class="col">
				<br/>
				<button class="prevBtn btn btn-outline-primary" (click)="prevMonth()">Prev</button>
			</div>
			<div class="col text-center" style="padding-top: 20px; overflow-y: none;">
				<h3>{{currentDate.format('MMMM YYYY')}}</h3>
			</div>
			<div class="col">
				<br/>
				<button class="nextBtn btn btn-outline-primary" (click)="nextMonth()">Next</button>
			</div>
		</ng-container>
	</div>

	<ul class="tabList">
		<ng-container *ngFor="let user of userList">
			<li *ngIf="user.preferences['timeCard']" [ngClass]="{'selected': user.id===selectId}"
				(click)="selectUser(user)">
				
				<span [ngStyle]="{'text-shadow':indicatorService.getHourly(user, timeCardService.getCurrentTotal(user))}">
					{{user.username}}
				</span>
			</li>
		</ng-container>
	</ul>

	<br/>

	<div class="container" *ngIf="currentUser && currentUser?.preferences['timeCard']">
		
		<div class="row">
			<div class="blankBox"><strong>{{days[0]}}</strong></div>
			<div class="blankBox"><strong>{{days[1]}}</strong></div>
			<div class="blankBox"><strong>{{days[2]}}</strong></div>
			<div class="blankBox"><strong>{{days[3]}}</strong></div>
			<div class="blankBox"><strong>{{days[4]}}</strong></div>
			<div class="blankBox"><strong>{{days[5]}}</strong></div>
			<div class="blankBox"><strong>{{days[6]}}</strong></div>

			<div class="dayBox" *ngIf="firstOfMonth > 0"></div>
			<div class="dayBox" *ngIf="firstOfMonth > 1"></div>
			<div class="dayBox" *ngIf="firstOfMonth > 2"></div>
			<div class="dayBox" *ngIf="firstOfMonth > 3"></div>
			<div class="dayBox" *ngIf="firstOfMonth > 4"></div>
			<div class="dayBox" *ngIf="firstOfMonth > 5"></div>

			<div *ngFor="let day of month.slice(0,7)"
				class="dayBox" (click)="toggleModal('timePunch', day, dateRange1)">
				<app-time-card-day [date]="day" [week]="'firstWeek'"
					[timePunch]="currentUser.timeCard[day.format('YYMMDD')]"></app-time-card-day>
			</div>

			<div *ngFor="let day of month.slice(7,14)"
				class="dayBox" (click)="toggleModal('timePunch', day, dateRange1)">
				<app-time-card-day [date]="day" [week]="'secondWeek'"
					[timePunch]="currentUser.timeCard[day.format('YYMMDD')]"></app-time-card-day>
			</div>

			<div class="dayBox" (click)="toggleModal('timePunch', month[14], dateRange1)">
				<app-time-card-day [date]="month[14]" [week]="'thirdWeek'"
					[timePunch]="currentUser.timeCard[month[14].format('YYMMDD')]"></app-time-card-day>
			</div>
		
			<div *ngFor="let day of month.slice(15,22)"
				class="dayBox" (click)="toggleModal('timePunch', day, dateRange2)">
				<app-time-card-day [date]="day" [week]="'fourthWeek'"
					[timePunch]="currentUser.timeCard[day.format('YYMMDD')]"></app-time-card-day>
			</div>

			<div *ngFor="let day of month.slice(22,29)"
				class="dayBox" (click)="toggleModal('timePunch', day, dateRange2)">
				<app-time-card-day [date]="day" [week]="'fifthWeek'"
					[timePunch]="currentUser.timeCard[day.format('YYMMDD')]"></app-time-card-day>
			</div>

			<div *ngFor="let day of month.slice(29,31)"
				class="dayBox" (click)="toggleModal('timePunch', day, dateRange2)">
				<app-time-card-day [date]="day" [week]="'sixthWeek'"
					[timePunch]="currentUser.timeCard[day.format('YYMMDD')]"></app-time-card-day>
			</div>

		</div>

		<br/>

		<div class="row">

			<div class="col-sm-12 col-md-4" *ngFor="let dateRange of [dateRange1, dateRange2]">
				<div class="payPeriod container" *ngIf="yearlyTotal[dateRange]">
					<div class="row">
						<div class="col">
							<h5>
								Pay Period:<br/>
								{{timeCardService.readDateRange(dateRange)}}
							</h5>
						</div>
					</div>

					<div class="row no-gutters tableRow">
						<div class="col-4">	
						</div>
						<div class="col-4 text-right">
							<strong>Regular</strong>&nbsp;
						</div>
						<div class="col-4 text-right">
							<strong>Overtime</strong>&nbsp;
						</div>
					</div>

					<div *ngFor="let week of [yearlyTotal[dateRange].week1, yearlyTotal[dateRange].week2, yearlyTotal[dateRange].week3]; index as i" class="row no-gutters" [ngClass]="week.name">
						<ng-container *ngIf="week.days[0]">
							<div class="col-4 tableCell">
								<strong>
									Week {{i+1}}:
								</strong>
							</div>
							<div class="col-8 row no-gutters" *ngIf="week.days[0].isBefore(moment())"
								[ngStyle]="{'text-shadow':indicatorService.getHourly(currentUser, timeCardService.getCurrentTotal(currentUser, week.days[week.days.length-1]))}">
								<div class="col w-50 text-right tableCell">
									{{timeCardService.displayTime(week.regular)}}&nbsp;
								</div>
								<div class="col w-50 text-right tableCell">
									{{timeCardService.displayTime(week.overtime)}}&nbsp;
								</div>
							</div>
							<div class="col-8 row no-gutters" *ngIf="week.days[0].isAfter(moment())">
								<div class="col w-50 text-right tableCell">
								</div>
								<div class="col w-50 text-right tableCell">
								</div>
							</div>
						</ng-container>
					</div>

					<hr style="margin: 0;">

					<div class="row no-gutters">
						<div class="col-4">
							<strong>Total:</strong>
						</div>

						<div class="col-8 row no-gutters" *ngIf="yearlyTotal[dateRange].week1.days[0].isBefore(moment())">
							<div class="col w-50 text-right">
								{{timeCardService.displayTime(yearlyTotal[dateRange].regular)}}&nbsp;
							</div>
							<div class="col w-50 text-right">
								{{timeCardService.displayTime(yearlyTotal[dateRange].overtime)}}&nbsp;
							</div>
						</div>
						
					</div>

					<div class="row no-gutters">
						<div class="col-4">
							<strong>Vacation:</strong>&nbsp;
						</div>
						<div class="col-8 text-right" *ngIf="yearlyTotal[dateRange].week1.days[0].isBefore(moment())"
							[ngClass]="timeCardService.checkDateRange(dateRange)"
							(click)="toggleModal('vacation', currentDate, dateRange)">
							<span>{{timeCardService.displayTime(yearlyTotal[dateRange].vacation)}}</span>&nbsp;
						</div>
					</div>

				</div>
			</div>

			<div class="col-sm-12 col-md-4">
				<div class="payPeriod container">
					<div class="row">
						<div class="col">
							<h5>
								Year-to-date:<br/>
								{{yearlyTotal.firstDay.format('MMMM D, YYYY')}} - <br/>
								{{yearlyTotal.lastDay.format('MMMM D, YYYY')}}
							</h5>
						</div>
					</div>

					<div class="row no-gutters tableRow">
						<div class="col-6">
							<strong>Regular</strong>
						</div>
						<div class="col-6 text-right">
							{{timeCardService.displayTime(yearlyTotal.regular)}}&nbsp;
						</div>
					</div>

					<div class="row no-gutters tableRow">
						<div class="col-6">
							<strong>Overtime</strong>
						</div>
						<div class="col-6 text-right">
							{{timeCardService.displayTime(yearlyTotal.overtime)}}&nbsp;
						</div>
					</div>

					<div class="row no-gutters tableRow">
						<div class="col-6">
							<strong>Vacation</strong>
						</div>
						<div class="col-6 text-right">
							{{timeCardService.displayTime(yearlyTotal.vacation)}}&nbsp;
						</div>
					</div>

				</div>
			</div>

		</div>

	</div>
	
</div>