.dayBox {
	height: 5em;
	width: calc(100%/7);
	div {
		position: relative;
		height: 100%;
		width: 100%;
		border: 1px solid grey;
	}
}

.payPeriod {
	height: 100%;
	width: 100%;
	border: 1px solid black;
	padding: 5px;
}

[ngbDropdown], [ngbDropdownToggle] {
	width: 100%;
}

.blankBox {
	width: calc(100%/7);
	text-align: center;
}

hr {
	border: 1px solid black;
}

.prevBtn, .nextBtn {
	width: 100%;
}

.firstWeek {
	background-image: repeating-linear-gradient(
    90deg,
    rgba(51, 204, 255, 1),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0)
  );
}

.secondWeek {
	background-image: repeating-linear-gradient(
    90deg,
    rgba(102, 255, 153, 1),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0)
  );
}

.thirdWeek {
	background-image: repeating-linear-gradient(
    90deg,
    rgba(176, 255, 102, 1),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0)
  );
}

.fourthWeek {
	background-image: repeating-linear-gradient(
    90deg,
    rgba(255, 255, 176, 1),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0)
  );
}

.fifthWeek {
	background-image: repeating-linear-gradient(
    90deg,
    rgba(255, 204, 153, 1),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0)
  );
}

.sixthWeek {
	background-image: repeating-linear-gradient(
    90deg,
    rgba(255, 153, 102, 1),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0)
  );
}