<ng-template #taskEditModal let-close="close">
  <div class="modal-header">
    <h4 class="modal-title">
    	<span *ngIf="taskIsNew">Create New Task</span>
			<span *ngIf="!taskIsNew">Edit Task</span>
    </h4>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  	<div class="container">
  		<div class="row">
				<div class="col-12">
					
				</div>
				<div class="col-2">
					Task Name:
				</div>
				<div class="col-10">
					<input class="w-100" type="text" [(ngModel)]="modalData.task.name"/>
				</div>
			</div>

			<div class="row">
				<div class="col-2">
					Description:
				</div>
				<div class="col-10">
					<textarea class="w-100" [(ngModel)]="modalData.task.description"></textarea>
				</div>
			</div>
  	</div>
  </div>
  <div class="modal-footer">
  	<button *ngIf="modalData.taskIsNew" class="btn btn-success" (click)="addTask(modalData.task); close();">
  		Create
  	</button>
  	<button *ngIf="!modalData.taskIsNew" class="btn btn-success" (click)="editTask(modalData.task); close();">
  		Confirm
  	</button>
  	<button class="btn btn-secondary" (click)="close()">
      Cancel
    </button>
    <button *ngIf="!modalData.taskIsNew" class="btn btn-danger" (click)="deleteTask(modalData.task); close();">
      Delete
    </button>
  </div>
</ng-template>

<div class="container">

	<div class="row">
		<div class="col">
			<h1>Task Log</h1>
		</div>
	</div> 

	<ul class="tabList">
		<ng-container *ngFor="let user of userList">
			<li *ngIf="user.preferences['taskLog']" [ngClass]="{'selected': user.id===selectId}"
				(click)="selectUser(user)">
				{{user.username}}
			</li>
		</ng-container>
		<li [ngClass]="{'selected': taskEditor}" (click)="openTaskEditor()">Task Editor</li>
	</ul>

	<br/>

	<div>

		<ng-container *ngIf="currentUser && currentUser?.preferences['taskLog']">
			<div class="row no-gutters">
			<div class="col-2">
					<button class="prevBtn btn btn-outline-primary w-100" (click)="prevWeek()">Prev</button>
			</div>
				<div class="col-3 text-center" style="padding: 8px;">
					<h5>{{startOfWeek.format('MMMM DD')}} - {{endOfWeek.format('MMMM DD')}}</h5>
				</div>
				<div class="col-2">
					<button class="nextBtn btn btn-outline-primary w-100" (click)="nextWeek()">Next</button>
				</div>
			</div>

			<div class="row no-gutters" *ngIf="week">
				<div class="col">
					<div class="tableCell">&nbsp;</div>
					<div class="tableCell" *ngFor="let task of currentUser.taskList">
						<ng-template #tipContent>{{getToolTip(task, taskList)}}</ng-template>
						<div placement="top" [ngbTooltip]="tipContent">
							&nbsp;{{task}}
						</div>
					</div>
				</div>
				<div class="col" *ngFor="let day of week.slice(0,5); index as i">
					<div class="tableCell text-right">
						<strong>{{days[i]}}</strong>
					</div>
					<div class="tableCell text-right hoverOutline" *ngFor="let task of currentUser.taskList">
						<div class="pokable" (click)="toggleTask(task, day)">
							&nbsp;<span *ngIf="currentUser.taskLog[task]">{{currentUser.taskLog[task][day]}}</span>
						</div>
					</div>
				</div>
			</div>
		</ng-container>

		<div *ngIf="taskEditor" class="container">
			<div class="row">
				<div class="col">
					<h5>Task List</h5>
				</div>
				<div class="col text-right">
					<strong class="text-primary pokable hoverUnderline" (click)="addTask()">Create New Task</strong>
				</div>
			</div>

			<div class="row topRow">
				<div class="col-3">
					Task Name
				</div>
				<div class="col-9">
					Description
				</div>
			</div>

			<div *ngFor="let task of taskList" class="row tableRow pokable"
				[ngClass]="{'selectedRow': task.id===currentTask.id}"
				(click)="readTask(task)">
				<div class="col-3">
					{{task.name}}
				</div>
				<div class="col-9">
					{{task.description}}
				</div>
			</div>

		</div>

	</div>

</div>