<div class="container-fluid dayWrapper" [ngClass]="[timeSheetMathService.checkDate(date), week]">
	<div class="row no-gutters" style="height: 20%;">
		<div class="col-3" >
			<strong class="date">
				{{date.format("D")}}
			</strong>
		</div>

		<div class="col-9 timePunchData">
			<strong *ngIf="timePunch && timePunch[4]">
				{{timePunch[4]}}
			</strong>
		</div>
	</div>

	<ng-container *ngIf="timePunch">
		<div class="timePunchData">
			<span class="d-none d-md-block" *ngIf="timePunch[0]">
				In: {{timeSheetMathService.displayTime(timePunch[0])}}
			</span>
		</div>
		<div class="timePunchData">
			<span class="d-none d-md-block" *ngIf="timePunch[0]">
				Out: {{timeSheetMathService.displayTime(timePunch[1])}}
			</span>
		</div>
		<div class="timePunchData">
			<span class="d-none d-md-block" *ngIf="timePunch[2]">
				Break: {{timeSheetMathService.displayTime(timePunch[2])}}
			</span>
		</div>
		<div class="timePunchData" *ngIf="timePunch[3]">
			<strong class="d-none d-md-inline">
				Total:
			</strong>
			<strong>
				{{timeSheetMathService.displayTime(timePunch[3])}}
			</strong>
		</div>
	</ng-container>

</div>